In [51]:
import pandas as pd

In [52]:
csv_path = '/home/kaan/Repositories/facial-reenactment/notebooks/vox2_meta.csv'
data_frame = pd.read_csv(csv_path, sep=r',', header=0)
data_frame.shape

(6114, 4)

In [53]:
df_dev = data_frame[data_frame['Set '] == 'dev ']
df_dev.shape

(5994, 4)

In [54]:
df_dev_m = df_dev[df_dev['Gender '] == 'm ']
df_dev_m.shape

(3682, 4)

In [55]:
df_dev_f = df_dev[df_dev['Gender '] == 'f ']
df_dev_f.shape

(2312, 4)

In [56]:
df_dev_m.head()

  VoxCeleb2 ID  VGGFace2 ID  Gender   Set
0      id00012      n000012       m   dev
1      id00015      n000015       m   dev
2      id00016      n000016       m   dev
4      id00018      n000018       m   dev
5      id00019      n000019       m   dev

In [57]:
df_dev_f.head()

   VoxCeleb2 ID  VGGFace2 ID  Gender   Set
8       id00022      n000022       f   dev
9       id00024      n000024       f   dev
10      id00025      n000025       f   dev
19      id00039      n000039       f   dev
22      id00043      n000043       f   dev

In [77]:
male_ids = df_dev_m.sample(n=50)
male_ids = male_ids['VoxCeleb2 ID '].str.strip().tolist()
male_ids

['id02149',
 'id08892',
 'id08339',
 'id04305',
 'id05345',
 'id07658',
 'id08623',
 'id02152',
 'id02191',
 'id01883',
 'id03037',
 'id08290',
 'id07151',
 'id06838',
 'id01081',
 'id06848',
 'id02081',
 'id07306',
 'id08804',
 'id07335',
 'id04459',
 'id04941',
 'id05568',
 'id05262',
 'id00597',
 'id03931',
 'id06432',
 'id04524',
 'id09070',
 'id06143',
 'id08259',
 'id00991',
 'id08454',
 'id09231',
 'id03540',
 'id09029',
 'id07520',
 'id03904',
 'id08747',
 'id02037',
 'id03609',
 'id04737',
 'id00519',
 'id07550',
 'id01685',
 'id08649',
 'id02038',
 'id06497',
 'id03262',
 'id06753']

In [78]:
female_ids = df_dev_f.sample(n=50)
female_ids = female_ids['VoxCeleb2 ID '].str.strip().tolist()
female_ids

['id02475',
 'id04245',
 'id03003',
 'id02724',
 'id04690',
 'id00515',
 'id01316',
 'id04838',
 'id03455',
 'id01578',
 'id00735',
 'id05966',
 'id06399',
 'id02455',
 'id03345',
 'id06061',
 'id05372',
 'id06328',
 'id05308',
 'id00763',
 'id04675',
 'id07991',
 'id05581',
 'id04049',
 'id03822',
 'id07255',
 'id08549',
 'id00104',
 'id05314',
 'id01317',
 'id04545',
 'id05772',
 'id05710',
 'id08801',
 'id01870',
 'id08481',
 'id00570',
 'id05441',
 'id03100',
 'id07685',
 'id00892',
 'id04027',
 'id04132',
 'id08917',
 'id00328',
 'id06377',
 'id07560',
 'id01455',
 'id00359',
 'id01187']

In [80]:
ids = male_ids + female_ids
ids

['id02149',
 'id08892',
 'id08339',
 'id04305',
 'id05345',
 'id07658',
 'id08623',
 'id02152',
 'id02191',
 'id01883',
 'id03037',
 'id08290',
 'id07151',
 'id06838',
 'id01081',
 'id06848',
 'id02081',
 'id07306',
 'id08804',
 'id07335',
 'id04459',
 'id04941',
 'id05568',
 'id05262',
 'id00597',
 'id03931',
 'id06432',
 'id04524',
 'id09070',
 'id06143',
 'id08259',
 'id00991',
 'id08454',
 'id09231',
 'id03540',
 'id09029',
 'id07520',
 'id03904',
 'id08747',
 'id02037',
 'id03609',
 'id04737',
 'id00519',
 'id07550',
 'id01685',
 'id08649',
 'id02038',
 'id06497',
 'id03262',
 'id06753',
 'id02475',
 'id04245',
 'id03003',
 'id02724',
 'id04690',
 'id00515',
 'id01316',
 'id04838',
 'id03455',
 'id01578',
 'id00735',
 'id05966',
 'id06399',
 'id02455',
 'id03345',
 'id06061',
 'id05372',
 'id06328',
 'id05308',
 'id00763',
 'id04675',
 'id07991',
 'id05581',
 'id04049',
 'id03822',
 'id07255',
 'id08549',
 'id00104',
 'id05314',
 'id01317',
 'id04545',
 'id05772',
 'id05710',
 'id08801',
 'id01870',
 'id08481',
 'id00570',
 'id05441',
 'id03100',
 'id07685',
 'id00892',
 'id04027',
 'id04132',
 'id08917',
 'id00328',
 'id06377',
 'id07560',
 'id01455',
 'id00359',
 'id01187']